$main: #29d67a;
$violet: #21212b;

* {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-family: 'sans-serif';
}

.container {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}

.card {
    margin-bottom: 30px;
    position: relative;

    $this: &;

    &__flex {
        display: flex;
        padding: 100px 2% 10px;
    }

    &__wrapper {
        position: absolute;
        bottom: 100px;
        left: 0;
        z-index: 1;


        &--title {
            font-size: 3em;
            text-align: center;
            color: #f7f9f9;
            line-height: 1.5em;
        }

        &--text {
            font-size: 2.5em;
            text-align: center;
            color: #f7f9f9;
        }
    }

    &__left {
        flex-basis: 60%;
        padding-right: 5px;

        #{$this}__text {
            display: flex;
            align-items: flex-start;
        }
    }

    &__right {
        flex-basis: 40%;
    }

    &__photo {
        position: relative;

        & + #{$this}__text {
            padding-top: 80px;
        }

        &.is-dark::after {
            content: '';
            position: absolute;
            background-color: rgba(0, 0, 0, 0.4);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 0;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 40vh;
            position: relative;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }
    }

    &__photo-small {
        width: 100%;
        height: auto;

        img {
            display: block;
            object-fit: contain;
            height: 250px;
        }
    }

    &__title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: calc(100% - 75px);
        color: #333;
        margin-bottom: 15px;
        font-family: Roboto, sans-serif;
        font-size: 2.5em;
        font-weight: 700;
        padding: 10px 20px;
        background-color: #fff;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        white-space: nowrap;
        z-index: 2;

        &::after {
            content: '';
            background: url('divider.png') no-repeat center center;
            background-size: contain;
            width: 100%;
            height: 100px;
            position: absolute;
            top: 70px;
            left: 0;
        }
    }


    &__text {
        color: #333;
        font-family: Roboto, sans-serif;
        font-size: 2em;
        padding: 20px;

        span {
            font-weight: 700;
            color: $main;
        }
    }

    &__number {
        margin-right: 15px;
        font-weight: 600;
        font-size: 2em;
        -webkit-text-stroke: 2px $main;
        color: #fff;
        line-height: 48px;
        font-family: Montserrat, Arial, serif;
    }

    &__button {
        width: 100%;
        max-width: 400px;
        margin: 0 auto 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none !important;
        font-size: 2em;
        position: relative;
        height: auto;
        line-height: 1.2;
        white-space: normal;
        min-height: 60px;
        padding: 10px;
        background-color: #fff;
        color: #333333;
        border-radius: 30px;
        border: 1px solid #333;
    }
}
